{erl_opts, [no_debug_info]}.
{deps, []}.

{escript_incl_apps,
 [rebar3_example_project]}.
{escript_main_app, rebar3_example_project}.
{escript_name, rebar3_example_project}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
